.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  border: none;
  height: 40px;
  width: auto;
}

/* Padding */
.p-small { padding: 14px 10px; }
.p-medium { padding: 24px 20px; }

/* Font sizes */
.fs-small { font-size: 12px;}
.fs-medium { font-size: 16px; }
.fs-large { font-size: 20px; }

/* Font weight */
.fw-bold { font-weight: bold;}

/* Button width*/
.width-full {
  width: 100%;
}

/* Backgrounds */
.bg-red { background-color: #DA0000; color: white; }
.bg-white { background-color: #ffffff; color: black; border: 1px solid #D4D4D4; }
.bg-black { background-color: #222222; color: white;}

/* Hover effect */
.bg-red:hover { background-color: #b30000; }
.bg-white:hover { background-color: #F2F2F2; }
.bg-black:hover { background-color: #000000; }

/* Border radius */
.radius-full { border-radius: 40px; }
.radius-small { border-radius: 5px; }

/* Icon styling */
.btn-icon {
  width: 25px;
  height: 25px;
}