.coffee-gallery {
  display: flex;
  gap: 32px;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.cafe-slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
  gap: 0;
  padding-left: 8px;
}

.cafe-slider {
  display: flex;
  flex-direction: row;
  gap: 32px;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  cursor: grab;
  padding-bottom: 8px;
}
.cafe-slider:active {
  cursor: grabbing;
}

.cafe-slider::-webkit-scrollbar {
  display: none;
}
.cafe-slider {
  scrollbar-width: none;
}

.slider-arrow {
  display: none;
}