.navbar-container {
    background-color: #b30000;
    position: relative;
    padding: 20px 0px;
    border-bottom: 1px solid #eee;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo {
    height: 50px;
    cursor: pointer;
}

.gap {
    display: flex;
    gap: 10px;
}