.navbar-container {
    position: relative;
    padding: 20px 0px;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.logo {
    height: 50px;
    cursor: pointer;
}

.gap {
    display: flex;
    gap: 10px;
}

.gap-nav-middle {
    display: flex;
    gap: 43px;
}