/* =============================== */
/* Styles for Cafe Header */
/* =============================== */


.headerContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.headerTitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.headerTitle {
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.headerRatingContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.headerImageContainer {
    display: flex;
    flex-direction: row;
    gap: 18px;
    padding: 0;
    margin: 0;
}

.headerImageMain {
    object-fit: cover;
    /* width: 550px; */
    border-radius: 10px 0 0 10px;
}

.headerImageSecondaryContainer {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 0;
    margin: 0;
}

.headerImageSecondaryUpper {
    border-radius: 0 10px 0 0;
}

.headerImageSecondaryLower {
    border-radius: 0 0 10px 0;
}

.headerButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}