/* =============================== */
/* Styles for Cafe Header */
/* =============================== */


.headerContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.headerTitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.headerTitle {
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.headerRatingContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.headerImageContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    width: 100%;
    max-width: 900px;
    aspect-ratio: 2/1;
    border-radius: 16px;
    overflow: hidden;
    background: #fff;
}

.headerImageMain {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px 0 0 16px;
    grid-row: 1 / span 2;
    grid-column: 1 / 2;
}

.headerImageSecondaryContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    height: 100%;
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / span 2;
}

.headerImageSecondaryUpper {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 16px 0 0;
}

.headerImageSecondaryLower {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 16px 0;
}

.headerButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}