/* =========================
  Form Styles
   ========================= */

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.inputField {
  padding: 16px;
  font-size: clamp(1rem, 2vw, 1.1rem);
  border: 1px solid #ccc;
  border-radius: 5px;
}

.inputField:focus {
  outline: none;
  border-color: #222; /* A nice blue for focus */
  box-shadow: 0 0 0 3px rgba(34, 34, 34, 0.2);
}

.checkbox-container {
  display: flex;
  align-items: center;
  font-size: clamp(1rem, 2vw, 1.1rem);
  gap: 12px;
}

.checkbox-container input[type='checkbox'] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: #DA0000;
}

.error-message {
  color: #DA0000;
  font-size: clamp(1rem, 2vw, 1.2rem);
  text-align: left;
  margin-top: 10px;
  line-height: 1.5;
  padding: 0 0 15px 0;
  margin: 0;
}

/* Container for the registration link for better spacing */
.register-prompt {
  font-size: 15px;
  color: #666;
  margin-top: 20px;
  text-align: center;
}

/* The actual link you want to style */
.register-link {
  font-weight: 600;
  color: #DA0000;
  /* A standout color for the link */
  text-decoration: none;
  /* Remove default underline */
  cursor: pointer;
  transition: color 0.3s, text-decoration 0.3s;
}

/* The requested hover effect: lighten and underline */
.register-link:hover {
  color: #b30000;
  /* A lighter shade of the link color */
  text-decoration: underline;
}

/* =========================
     Responsive Styles
     ========================= */

@media (max-width: 600px) {

  .form-text {
    width: 100vw;
    max-width: 100%;
    padding: 0 10px;
  }

  .inputField {
    font-size: 1rem;
    padding: 12px;
  }

  .checkbox-container {
    font-size: 1rem;
  }
}