/* =========================
  Sidebar
   ========================= */

.sidebarContainer {
  height: auto;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebarTitle {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  font-weight: 500;
  color: #222;
}

.sidebarContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebarEntry {
  width: 100%;
  height: 48px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 12px;
  padding: 0 16px;
  gap: 14px;
  background: none;
  transition: background 0.15s;
}

.sidebarEntry:hover {
  background-color: #F7F7F7;
  cursor: pointer;
}

#active {
  background-color: #F7F7F7;
}

#icon {
  height: 26px;
  width: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  margin-right: 10px;
}

